$maxMobile:"(max-width :769px)" ;
$maxSmall: "(max-width : 991px)";
$minSmail: "(min-width: 768px)";
$minMedumi: "(min-width: 992px)";
$minLarege: "(min-width: 1200px)";

$redColor: #e2494c;
$greyColor: #9c9c9c;

$float-left: left;
$float-right: right;

$text-right: right;
$text-left: left;