
.slider
{
    blockquote {
        font: {
            size: 16px;
            style: italic;
            family: tahoma;
            weight: bold;
        }
        line-height: 1.7;
        width: 80%;
        margin: 30px auto;
        color: #1f1c1c;
    }
    img {
        max-width: 100%;
    }
    .bullt {
        text-align: center;
        li {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: $greyColor;
            border-radius: 50%;
            border: 2px solid $greyColor;
            cursor: pointer;
            &.active,
            &:hover {
                border: 2px solid #333;
                background-color: #fff;
            }
        }
    }
}

.head-with-border
{
    position: relative;
   h2 {
    text-align: center;
    background-color: $redColor;
    color: #fff;
    margin: 40px auto;
    padding: 10px 15px;
    width: 400px;
    border-radius: 15px;
    text-transform: uppercase;
    &:before {
        content: '';
        width: 100%;
        height: 1.5px;
        background-color: $greyColor;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: -1;
        }
   }
}

.servies
{
    .servies-box {
        float: $float-left;
        width: ( 100% / 3);
        &:not(:last-of-type) {
            padding-right: 20px;
        }
        h3 {
            color: #666;
            i {
                font-size: 30px;
                position: relative;
                top: 3px;
            }
        }
        
        p {
            color: #777;
            line-height: 1.5;
        }
        .serives-links {
            color: $redColor;
            text-decoration: none;
        }
    }
}




.our-players
{
    .players-box {
        float: $float-left;
        width: ( 100% / 5);
        &:not(:last-of-type) {
            padding-right: 20px;
        }
        .players-title {
            color: #666;
            font-weight: normal;
           span {
               color: $redColor;
               font-weight: bold;
           }
        }
        
        .players-dec {
            color: #777;
            line-height: 1.5;
        }
        .players-links {
            color: $redColor;
            text-decoration: none;
        }
        img {
            max-width: 100%;
            width: 300px;
            height: 150px;
        }
    }
}

.lorem-ipum
{
    .lorem-box {
        float: $float-left;
        width: (94% / 3);
        &:not(:last-of-type) {
            margin-right: 3%; 
        }
        .lorem-img {
            max-width: 100%;
           
        }
        }
    }
